<nav class="topnav" id="myTopnav">
    <a href="/user/profile">Pending Show Requests</a>
	<a href="/home">Property Search</a>
	<a href="/user/logout">Logout</a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>