<html>
	<head>
		<title>Agent Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
	<%include ./partials/header.ejs %>
<body>
	<main class="main">
	<h1>Create an Account</h1>
		<form class="form" action="/agent/register" method="POST">
			<input class="login-field" type="text" placeholder="Full Name" name="fullname">
			<input class="login-field" type="text" placeholder="E-mail" name="email">
			<input class="login-field" type="text" placeholder="MLS ID" name="mlsid">
			<input class="login-field" type="password" placeholder="Password" name="password">
			<button>Sign Up</button>
		</form>
	</main>
</body>
</html>