<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="/css/mobileRegister.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<main>
		<h1 id="registration">R E G I S T R A T I O N</h1>
		<form class="form">
			<input class="login-field" type="text" placeholder="Fullname"><br>
			<input class="login-field" type="text" placeholder="Email"><br>
			<input class="login-field" type="password" placeholder="Password"><br>
			<button id="register-button">Register</button><br>
			<p id="already-registered"><a href="#">Already Registered! Click here to log in</a></p>
		</form>
	</main>
</body>
</html>