<!--  Future: add search by state, city  -->
<html>
	<head>
		<title>Profile</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
		<%include ./partials/header.ejs %>

<body>
	<main class="main">
		<h1>Our Agents</h1>


	<section>
      <% for (let i = 0; i < agents.length; i++) { -%>
      	<ul><li>
              <a href="/<%=agents[i].id%>" title=""><%=agents[i].fullname%></a>
                  <form action="/<%= user %>?_method=PUT" method="POST">
			      	<button>Select Agent</button>
			      </form>
      <% } -%>
      </li></ul>
    </section>

	</main>
</body>
</html>
