<html>
<head>
	<title>Registration Page</title>
</head>
<body>
	<h1>Create an Account</h1>
	<form action="/user/register" method="POST">
		<input type="text" placeholder="Username" name="username">
		<input type="password" placeholder="Password" name="password">
		<button>Sign Up</button>
	</form>
</body>
</html>