<html>
	<head>
		<title>Search Page</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
<body>
	<main class="main">
		<h1 id="registration">Z I P C O D E</h1>
		<form class="form" action="/user/register" method="POST">
			<input class="login-field" type="text" name="zipcode" placeholder="Enter the zip code">
			<button id="register-button">Search</button><br>
			<p id="already-registered">Invalid zip code, try again!</p>
		</form>
	</main>
</body>
</html>