<!--  Future: add search by state, city  -->
<html>
	<head>
		<title>Search Page</title>
		<%include ./partials/head.ejs %>
	</head>
	<!-- <% if (signedIn) { %> -->
		<%include ./partials/header.ejs %>
	<!-- <% } %> -->

<body>
	<main class="main">
		<h1>PROPERTY SEARCH</h1>
		<form class="form" action="/home" method="POST">
			<div>neighborhood</div>
			<div>min-bedrooms</div>
			<div>max-bedrooms</div>
			<select class="select-field" name="neighborhood">
				<option value="oldtown">Old Town</option>
				<option value="printersrow">Printers Row</option>
				<option value="westloop">West Loop</option>
			</select>
			<select class="select-field" name="min">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<select class="select-field" name="max">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<button id="register-button">Search</button><br>
		</form>
	</main>
</body>
</html>